<nav class="navbar">
    <div class="brand flex flex-row items-center gap-1 ">
        <img src="assets/logo.png" alt="logo" class="logo size-24 shrink-0" style="background: transparent;" />
    </div>
    <div class="nav-links">
        <card-link routerLink="/home" title="项目">
            花🌈
        </card-link>
        <card-link routerLink="/home" title="技术栈">
            里✨
        </card-link>
        <card-link routerLink="/home" title="生活">
            胡🎆
        </card-link>
        <card-link routerLink="/home" title="联系">
            哨👑
        </card-link>
    </div>
</nav>